  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%=link_to 'ドクターエクステリア', root_path, class:"navbar-brand" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ご利用ガイド", guides_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "技術・商品", items_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "コンタクト", contacts_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "会社概要", companies_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ブログ", blogs_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "質問コーナー", faqs_path, class:"nav-link dropdown-toggle" %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>