  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%=link_to '工事・修理ショップ', root_path, class:"navbar-brand" %>


            <% if user_signed_in? %>
      <li><%= link_to "#{current_user.first_name}さん、こんにちは", "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, method: :get, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, method: :get, class: "sign-up" %></li>
      <% end %>

      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>



      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ご利用ガイド", guides_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "技術・商品", items_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "コンタクト", contacts_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "会社概要", companies_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ブログ", blogs_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "質問コーナー", faqs_path, class:"nav-link" %>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>